@tailwind base;
@tailwind components;
@tailwind utilities;



#dFont {
    font-family: 'Plus Jakarta Sans';
}
.dbgColor {
    background-color: hsl(210, 60%, 98%);
}

.redDot {
    background-color: hsl(1, 90%, 64%);
}

.postColor { 
    color: hsl(0, 1%, 36%);
}

.timeColor {
    color: hsl(0, 0%, 46%);
}

.groupHoverColor {
    color: hsl(219, 14%, 63%);
}

.test {
    background-color:  hsl(211, 68%, 94%);
}