@tailwind base;
@tailwind components;
@tailwind utilities;



#dFont {
    font-family: 'Plus Jakarta Sans';
}
.dbgColor {
    background-color: hsl(210, 60%, 98%);
}

.postColor { 
    color: hsl(0, 1%, 36%);
}

.timeColor {
    color: hsl(0, 0%, 46%);
}