@tailwind base;
@tailwind components;
@tailwind utilities;



#dFont {
    font-family: 'Plus Jakarta Sans';
}
.dbgColor {
    background-color: hsl(210, 60%, 98%);
}
.bgNumb {
    background-color: hsl(219, 85%, 26%);
}

.redDot {
    background-color: hsl(1, 90%, 64%);
}

.notifyBgColor {
    background-color: hsl(210, 60%, 98%);
}

.postColor { 
    color: hsl(0, 1%, 36%);
}

.gNameColor {
    color:  hsl(219, 85%, 26%);
}

.timeColor {
    color: hsl(0, 0%, 46%);
}

.test {
    background-color:  hsl(219, 85%, 26%);
}